*.exe
DBTests/obj/Debug/
aquadrom/obj/Debug/
aquadrom/bin/Debug/
Tests/bin/Debug/
Tests/onj/Debug/
aquadrom/xc3nr253.ikq
aquadrom/zejfv2tk.5t3
TestResults/aquadrom.TE.Tests.mdf
TestResults/aquadrom.TE.Tests_log.ldf
Tests/obj/Debug/build.force
aquadrom/App.config
Dokumentacja/Dokumentacja projektu.aux
Dokumentacja/Dokumentacja projektu.synctex.gz
Dokumentacja/Dokumentacja projektu.toc
Tests/obj/Debug/Tests.csproj.FileListAbsolute.txt
