DBTests/obj/Debug/
aquadrom/obj/Debug/
aquadrom/bin/Debug/
aquadrom.sql.orig
aquadrom.v12.suo
*.exe
DBTests/bin/Debug/DBTests.dll
TestResults/aquadrom.TE.Tests_log.ldf
TestResults/aquadrom.TE.Tests.mdf
packages/NUnit.2.6.3/
*.suo
*bin
*obj
aquadrom/App.config
